<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('version')" class="sortable">Version
            <i class="fa fa-fw" ng-class="get_col_icon('version')"></i>
        </th>
        <th ng-click="colum_sort('available')" class="sortable">Available
            <i class="fa fa-fw" ng-class="get_col_icon('available')"></i>
        </th>
        <th ng-click="colum_sort('enabled')" class="sortable">Enabled
            <i class="fa fa-fw" ng-class="get_col_icon('enabled')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td ng-bind-html="to_trusted(row.version)">  </td>
        <td>
            <span ng-if="row.available==true">
                <i class="fa fa-check" style="color:green;"></i>
            </span>
            <span ng-if="row.available==false">
                <i class="fa fa-remove" style="color:red;"></i>
            </span>
        </td>
        <td>
            <i class="fa fa-fw" ng-class="row.toggle" ng-click="toggle_ebility(row.id,row.new)"></i>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No data to display</td>
    </tr>
    </tbody>
</table>