<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('patch')" class="sortable">Patch
            <i class="fa fa-fw" ng-class="get_col_icon('patch')"></i>
        </th>
        <th ng-click="colum_sort('installed')" class="sortable">Installed
            <i class="fa fa-fw" ng-class="get_col_icon('installed')"></i>
        </th>
        <th ng-click="colum_sort('first_seen')" class="sortable">Install Date
            <i class="fa fa-fw" ng-class="get_col_icon('first_seen')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td ng-bind-html="to_trusted(row.name)">  </td>
        <td ng-bind-html="to_trusted(row.created)">
        </td>
        <td ng-bind-html="to_trusted(row.modified)">  </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No patch to display</td>
    </tr>
</table>