<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('status')" class="sortable">Status
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>
        <th ng-click="colum_sort('name')" class="sortable">Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i></th>
        <th ng-click="colum_sort('ext_ip')" class="sortable">IP Address
            <i class="fa fa-fw" ng-class="get_col_icon('ext_ip')"></i></th>
        <th ng-click="colum_sort('cluster')" ng-show="config.location!='cluster'" class="sortable">Cluster
            <i class="fa fa-fw" ng-class="get_col_icon('cluster')"></i>
        </th>
        <th ng-click="colum_sort('model')" class="sortable">Model
            <i class="fa fa-fw" ng-class="get_col_icon('model')"></i>
        </th>
        <th ng-click="colum_sort('version')" class="sortable">Version
            <i class="fa fa-fw" ng-class="get_col_icon('version')"></i>
        </th>
        <th ng-click="colum_sort('aps')" class="sortable">Access Points
            <i class="fa fa-fw" ng-class="get_col_icon('aps')"></i>
        </th>
        <th ng-click="colum_sort('ues')" class="sortable">Client Sessions
            <i class="fa fa-fw" ng-class="get_col_icon('ues')"></i>
        </th>
        <th colspan="2" ng-click="colum_sort('throughput')"  class="sortable" style="text-align:center;">Throughput
            <i class="fa fa-fw" ng-class="get_col_icon('throughput')"></i>
        </th>
        <th ng-click="colum_sort('role')" class="sortable">Role
            <i class="fa fa-fw" ng-class="get_col_icon('role')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td>
            <synesis-controller-status options="{ color : row.status_color }"></synesis-controller-status>
        </td>
        <td>
            <a ui-sref="controller({id:row.id})">
                <span ng-bind-html="to_trusted(row.hostname)"></span>
            </a>
        </td>
        <td ng-bind-html="to_trusted(row.ip)"> </td>
        <td ng-show="config.location!='cluster'">
            <a ui-sref="cluster({id:row.cluster_id})">
                <span ng-bind-html="to_trusted(row.cluster)"></span>
            </a>
        </td>
        <td ng-bind-html="to_trusted(row.model)">  </td>
        <td ng-bind-html="to_trusted(row.version)">  </td>
        <td>
            <synesis-access-points
                    options="{ total: row.aps.total, online: row.aps.connected, offline:row.aps.disconnected, unknown: row.aps.unknown  }">
            </synesis-access-points>
        </td>
        <td>
            <synesis-client-sessions
                    options="{ total: row.ues.total, count_24: row.ues.count_24, count_5:row.ues.count_5 }">
            </synesis-client-sessions>
        </td>
        <td>
            <synesis-tx-tp tx="row.throughput.tx"></synesis-tx-tp>
        </td>
        <td>
            <synesis-rx-tp rx="row.throughput.rx"></synesis-rx-tp>
        </td>
        <td ng-bind-html="to_trusted(row.role)">  </td>

    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Controller to display</td>
    </tr>
    </tbody>
</table>