<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('alarm_type')" class="sortable">Category
            <i class="fa fa-fw" ng-class="get_col_icon('alarm_type')"></i>
        </th>
        <th ng-click="colum_sort('alarm_name')" class="sortable">Name
            <i class="fa fa-fw" ng-class="get_col_icon('alarm_name')"></i>
        </th>
        <th ng-click="colum_sort('description')" class="sortable">Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th>Update Interval
        </th>
        <th ng-click="colum_sort('enabled')" class="sortable">Enabled
            <i class="fa fa-fw" ng-class="get_col_icon('enabled')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="alert in list">
        <td ng-bind-html="to_trusted(alert.alarm_type)">  </td>
        <td ng-bind-html="to_trusted(alert.alarm_name)">  </td>
        <td ng-bind-html="to_trusted(alert.description)">  </td>
        <td>
            <select ng-model="alert.updates"
                    ng-change="update_email_settings(alert.id,alert.updates,alert.status)">
                <option value="0"> Disabled</option>
                <option value="15"> 15</option>
                <option value="30"> 30</option>
                <option value="45"> 45</option>
                <option value="60"> 60</option>
            </select> <span ng-hide="alert.updates=='0'">Minutes</span>
        </td>
        <td>
            <i class="fa  fa-toggle-on" ng-show="alert.status==1"
               ng-click="update_email_settings(alert.id,alert.updates,0)"> </i>
            <i class="fa  fa-toggle-off" ng-show="alert.status==0"
               ng-click="update_email_settings(alert.id,alert.updates,1)"> </i>

        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Setting to display</td>
    </tr>
</table>