<table class="table table-bordered">
    <tr>
        <th >Feature

        </th>
        <th >Description

        </th>
        <th >Enabled

        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="etld in list">
        <td>{{ etld.name }}</td>
        <td>{{ etld.description }}</td>
        <td>
            <i class="fa  fa-toggle-on" style="cursor: {{ etld.style }};"
               ng-click="etld_change(etld.id,etld.fixed,false)"
               ng-show="etld.enabled==true"> </i>
            <i class="fa  fa-toggle-off" style="cursor: {{ etld.style }};"
               ng-click="etld_change(etld.id,etld.fixed,true)"
               ng-show="etld.enabled==false"> </i>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No data to display</td>
    </tr>
</table>