<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('name')">Group Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th>
            Description
        </th>
        <th>
            Tenant
        </th>
        <th ng-show="config.location!='user'">
            Users
        </th>
        <th ng-show="config.location=='user'||config.location=='db_pop'" >
            Action
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="group in list">
        <td>
            <a ui-sref="group({id:group.id})">
                <span ng-bind-html="to_trusted(group.name)"></span>
            </a>
        </td>
        <td>
            <span ng-bind-html="to_trusted(group.description)"></span>
        </td>
        <td>
            <span ng-bind-html="to_trusted(group.tenant)"></span>
        </td>
        <td ng-show="config.location!='user'">
            {{ group.users.length }}
        </td>
        <td ng-show="config.location=='user'">
            <span style="color:red;" ng-click="remove_group(group.id,group.name)" data-html="true" data-toggle="tooltip" title="Remove User from {{ group.name }}">
                <i class="fa fa-fw fa-minus-square"></i>
            </span>
        </td>
        <td ng-show="config.location=='db_pop'">
            <i class="fa fa-fw fa-toggle-off" ng-show="group.shared==false" ng-click="toggle_dash(group.id,'enable')"></i>
            <i class="fa fa-fw fa-toggle-on" ng-show="group.shared==true" ng-click="toggle_dash(group.id,'disable')"></i>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No group to display</td>
    </tr>
</table>