<table class="table table-bordered">
    <tbody>
    <tr>
        <th>Interface Name</th>
        <th>Speed</th>
        <th>Full Duplex</th>
        <th ng-show="config.location!='controller'">Throughput</th>
        <th>Status</th>
    </tr>
    <tr></tr>
    <tr ng-repeat="int in list">
        <td>{{ int.interface }}</td>
        <td>{{ int.speed }}</td>
        <td>{{ int.duplex }}</td>
        <td ng-show="config.location!='controller'">
            <synesis-tx-tp tx="int.tx_rate"></synesis-tx-tp>
            <synesis-rx-tp rx="int.rx_rate"></synesis-rx-tp>
        </td>
        <td>
            <span style="color:green" ng-if="int.link_detected==1">
                <i class="fa fa-check"></i>
            </span>
            <span style="color:red" ng-if="int.link_detected==0">
                <i class="fa fa-close"></i>
            </span>
            <span style="color:black" ng-if="int.link_detected==-1">
                <i class="fa fa-question"></i>
            </span>
        </td>
    </tr>
    <tr ng-show="list.length<1">
        <td colspan="100">No data to display</td>
    </tr>
    </tbody>
</table>