<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('name')" class="sortable">Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('band')" class="sortable">Band
            <i class="fa fa-fw" ng-class="get_col_icon('band')"></i>
        </th>
        <th ng-click="colum_sort('channel')" class="sortable">Channel
            <i class="fa fa-fw" ng-class="get_col_icon('channel')"></i>
        </th>
        <th ng-click="colum_sort('mode')" class="sortable">Mode
            <i class="fa fa-fw" ng-class="get_col_icon('mode')"></i>
        </th>
        <th ng-click="colum_sort('noise_floor')" class="sortable">Noise Floor
            <i class="fa fa-fw" ng-class="get_col_icon('noise_floor')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td>
            <span ng-bind-html="to_trusted(row.name)"></span>
        </td>
        <td>
            <span ng-bind-html="to_trusted(row.band)"></span>
        </td>
        <td>
            <span ng-bind-html="to_trusted(row.channel)"></span>
            (<span ng-bind-html="to_trusted(row.channel_width)"></span>)
        </td>
        <td>
            <span ng-bind-html="to_trusted(row.mode)"></span>
        </td>
        <td>
            <span ng-bind-html="to_trusted(row.noise_floor)"></span>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Radio to display</td>
    </tr>
    </tbody>
</table>