<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('fullname')" class="sortable">Name
            <i class="fa fa-fw" ng-class="get_col_icon('fullname')"></i>
        </th>
        <th ng-click="colum_sort('version')" class="sortable">Version
            <i class="fa fa-fw" ng-class="get_col_icon('version')"></i>
        </th>
        <th ng-click="colum_sort('patch_count')" class="sortable">Patch Count
            <i class="fa fa-fw" ng-class="get_col_icon('patch_count')"></i>
        </th>
        <th ng-click="colum_sort('controller_count')" class="sortable">Controller Count
            <i class="fa fa-fw" ng-class="get_col_icon('controller_count')"></i>
        </th>
        <th ng-click="colum_sort('created')" class="sortable">Created
            <i class="fa fa-fw" ng-class="get_col_icon('created')"></i>
        </th>
        <th ng-click="colum_sort('modified')" class="sortable">Modified
            <i class="fa fa-fw" ng-class="get_col_icon('modified')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td>
            <a ui-sref="release({id:row.id})">
                <span ng-bind-html="to_trusted(row.fullname)"></span>
            </a>
        </td>
        <td> <span ng-bind-html="to_trusted(row.version)"></span> </td>
        <td> <span ng-bind-html="to_trusted(row.patch_count)"></span> </td>
        <td> <span ng-bind-html="to_trusted(row.controller_count)"></span> </td>
        <td> <span ng-bind-html="to_trusted(row.created)"></span> </td>
        <td> <span ng-bind-html="to_trusted(row.modified)"></span> </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No SmartZone Release to display</td>
    </tr>
    </tbody>
</table>