<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('oid')" class="sortable"> OID
            <i class="fa fa-fw" ng-class="get_col_icon('oid')"></i>
        </th>
        <th ng-click="colum_sort('name')" class="sortable"> Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('regex')" class="sortable"> RegEx
            <i class="fa fa-fw" ng-class="get_col_icon('regex')"></i>
        </th>
        <th ng-click="colum_sort('status')" class="sortable"> Actions
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>

    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td ng-bind-html="to_trusted(row.oid)"></td>
        <td ng-bind-html="to_trusted(row.name)"></td>
        <td ng-bind-html="to_trusted(row.regex)"></td>
        <td>
            <span style="color:red;">
                <i class="fa fa-remove" ng-click="delete_row(row.id,'filter')"></i>
            </span>
        </td>


    </tr>
    <tr ng-show="list.length<1">
        <td colspan="100">No filter to display</td>
    </tr>
    </tbody>
</table>