<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('oid')" class="sortable"> OID
            <i class="fa fa-fw" ng-class="get_col_icon('oid')"></i>
        </th>
        <th ng-click="colum_sort('name')" class="sortable"> Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('description')" class="sortable"> Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th ng-click="colum_sort('filter_count')" class="sortable"> Filters
            <i class="fa fa-fw" ng-class="get_col_icon('filter_count')"></i>
        </th>
        <th ng-click="colum_sort('hits')" class="sortable"> Hits
            <i class="fa fa-fw" ng-class="get_col_icon('hits')"></i>
        </th>
        <th ng-click="colum_sort('alarm_enabled')" class="sortable"> Alarm
            <i class="fa fa-fw" ng-class="get_col_icon('alarm_enabled')"></i>
        </th>
        <th ng-click="colum_sort('status')" class="sortable"> Actions
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>

    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td ng-bind-html="to_trusted(row.oid)"></td>
        <td ng-bind-html="to_trusted(row.name)"></td>
        <td ng-bind-html="to_trusted(row.description)"></td>
        <td ng-bind-html="to_trusted(row.filter_count)"></td>
        <td ng-bind-html="to_trusted(row.hits)"></td>
        <td>
            <span style="color:green;" ng-if="row.alarm_enabled==true">
                ENABLED
            </span>
            <span style="color:red;" ng-if="row.alarm_enabled==false">
                DISABLED
            </span>
        </td>
        <td>
            <a ui-sref="snmp({switch:row.object_id,id:row.id})">
                <i class="fa fa-edit"></i>
            </a>
            <span style="color:red;">
                <i class="fa fa-remove" ng-click="delete_row(row.id,'trap')"></i>
            </span>
        </td>


    </tr>
    <tr ng-show="list.length<1">
        <td colspan="100">No trap to display</td>
    </tr>
    </tbody>
</table>