<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('status')" class="sortable">Status
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>
        <th ng-click="colum_sort('hostname')" class="sortable">Hostname
            <i class="fa fa-fw" ng-class="get_col_icon('hostname')"></i>
        </th>
        <th ng-click="colum_sort('ipv4')" class="sortable">IP Address
            <i class="fa fa-fw" ng-class="get_col_icon('ipv4')"></i>
        </th>
        <th ng-click="colum_sort('serial')" class="sortable">Serial Number
            <i class="fa fa-fw" ng-class="get_col_icon('serial')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td>
            <synesis-ap-status options="{ status : row.status}"></synesis-ap-status>
        </td>
        <td>
            <a ui-sref="switch({id: row.id})">
                <span ng-bind-html="to_trusted(row.hostname)"></span>
            </a>
        </td>
        <td ng-bind-html="to_trusted(row.ipv4)"> </td>
        <td ng-bind-html="to_trusted(row.serial)"> </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Switch to display</td>
    </tr>
    </tbody>
</table>