<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('name')" class="sortable"> Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('description')" class="sortable"> Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th>
            Operator
        </th>
        <th>
            Value
        </th>
        <th>
            Status
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td class="name">
            <span ng-bind-html="to_trusted(row.name)"></span>
        </td>
        <td class="description">
            <span ng-bind-html="to_trusted(row.description)"></span>
        </td>
        <td class="oper">
            <select ng-model="row.oper"
                    ng-change="threshold_change(row.id,row.oper,'oper')">
                <option value="0"> ></option>
                <option value="1"> >=</option>
                <option value="2"> =</option>
                <option value="3"> <</option>
                <option value="4"> <=</option>
            </select>
        </td>
        <td class="value">
            <input type="text"
                   ng-blur="threshold_change(row.id,row.value,'value')"
                   ng-model="row.value" ng-if="row.increment==-1">
            <select ng-model="row.value" ng-if="row.increment!=-1"
                    ng-options="option for option in row.values_list"
                    ng-change="threshold_change(row.id,row.value,'value')">
            </select>
            {{ row.metric }}
        </td>
        <td class="status">
            <i class="fa fa-toggle-on"
               ng-click="threshold_change(row.id,false,'toggle')"
               ng-show="row.status==true"> </i>
            <i class="fa fa-toggle-off"
               ng-click="threshold_change(row.id,true,'toggle')"
               ng-show="row.status==false"> </i>
        </td>
    </tr>
    </tbody>
</table>