<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('status')" class="sortable">Status
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>
        <th ng-click="colum_sort('ue_hostname')" class="sortable">Name
            <i class="fa fa-fw" ng-class="get_col_icon('ue_hostname')"></i>
        </th>
        <th ng-click="colum_sort('ap')" class="sortable">Access Point
            <i class="fa fa-fw" ng-class="get_col_icon('ap')"></i>
        </th>
        <th ng-click="colum_sort('operating_system')" class="sortable" ng-if="config.template=='os'">Operating System
            <i class="fa fa-fw" ng-class="get_col_icon('operating_system')"></i>
        </th>
        <th ng-click="colum_sort('ssid')" class="sortable" ng-if="config.template!='os'">SSID
            <i class="fa fa-fw" ng-class="get_col_icon('ssid')"></i>
        </th>
        <th ng-click="colum_sort('radio')" class="sortable" ng-if="config.template!='session'">Radio
            <i class="fa fa-fw" ng-class="get_col_icon('radio')"></i>
        </th>
        <th ng-click="colum_sort('cluster')" class="sortable" ng-if="config.template=='session'">Cluster
            <i class="fa fa-fw" ng-class="get_col_icon('cluster')"></i>
        </th>
        <th ng-click="colum_sort('zone')" class="sortable" ng-if="config.template=='session'">Zone
            <i class="fa fa-fw" ng-class="get_col_icon('zone')"></i>
        </th>
        <th ng-click="colum_sort('controller')" class="sortable" ng-if="config.template=='session'">Controller
            <i class="fa fa-fw" ng-class="get_col_icon('controller')"></i>
        </th>
        <th ng-click="colum_sort('ipv4_address')" class="sortable" ng-if="config.template=='session'">IPAddress
            <i class="fa fa-fw" ng-class="get_col_icon('ipv4_address')"></i>
        </th>
        <th colspan="2" ng-click="colum_sort('rx_rate')" class="sortable" ng-if="config.template=='network'" style="text-align:center;">Throughput
            <i class="fa fa-fw" ng-class="get_col_icon('rx_rate')"></i>
        </th>
        <th ng-click="colum_sort('estimated_throughput')" class="sortable" ng-if="config.template=='network'">Est. Throughput
            <i class="fa fa-fw" ng-class="get_col_icon('estimated_throughput')"></i>
        </th>
        <th ng-click="colum_sort('username')"  class="sortable" ng-if="config.template=='authenication'">Username
            <i class="fa fa-fw" ng-class="get_col_icon('username')"></i>
        </th>
        <th ng-click="colum_sort('auth_type')" class="sortable" ng-if="config.template=='authenication'">Auth Type
            <i class="fa fa-fw" ng-class="get_col_icon('auth_type')"></i>
        </th>
        <th ng-click="colum_sort('channel')" class="sortable" ng-if="config.template=='wifi'">Channel
            <i class="fa fa-fw" ng-class="get_col_icon('channel')"></i>
        </th>
        <th ng-click="colum_sort('channel_width')" class="sortable" ng-if="config.template=='wifi'">CW
            <i class="fa fa-fw" ng-class="get_col_icon('channel_width')"></i>
        </th>
        <th ng-click="colum_sort('mode')" class="sortable" ng-if="config.template=='wifi'">Mode
            <i class="fa fa-fw" ng-class="get_col_icon('mode')"></i>
        </th>
        <th ng-click="colum_sort('rssi')" class="sortable" ng-if="config.template=='wifi'">RSSI
            <i class="fa fa-fw" ng-class="get_col_icon('rssi')"></i>
        </th>

    </tr>
    <tr></tr>
    <tr ng-repeat="row in list">
        <td>
            <synesis-client-status options="{ status : row.status}"></synesis-client-status>
        </td>
        <td>
            <a ui-sref="uesession({id:row.record_id})">
                <span ng-bind-html="to_trusted(row.ue_hostname)"></span>
                (<span ng-bind-html="to_trusted(row.ue_mac)"></span>)
            </a>
        </td>
        <td>
            <a ui-sref="accesspoint({id:row.ap_mac})">
                <span ng-bind-html="to_trusted(row.ap)"></span>
                (<span ng-bind-html="to_trusted(row.ap_mac)"></span>)
            </a>
        </td>
        <td ng-if="config.template=='os'">
            <i class="fa" ng-class=get_os(row.operating_system)></i>
            <span ng-bind-html="to_trusted(row.operating_system)"></span>
        </td>
        <td ng-if="config.template!='os'">
            <span ng-bind-html="to_trusted(row.ssid)"></span>
        </td>
        <td ng-if="config.template!='session'">
            <span style="color:grey" ng-show="row.radio_id ==0">2.4GHz</span>
            <span style="color:orange" ng-show="row.radio_id !=0">5GHz</span>
        </td>
        <td ng-if="config.template=='session'">
            <a ui-sref="cluster({id:row.cluster_id})">
                <span ng-bind-html="to_trusted(row.cluster)"></span>
            </a>
        </td>
        <td ng-if="config.template=='session'">
            <a ui-sref="zone({id:row.zone_id})">
                <span ng-bind-html="to_trusted(row.zone)"></span>
            </a>
        </td>
        <td ng-if="config.template=='session'" >
            <a ui-sref="controller({id:row.controller_id})">
                <span ng-bind-html="to_trusted(row.controller)"></span>
            </a>
        </td>
        <td ng-if="config.template=='session'">
            <span ng-bind-html="to_trusted(row.ipv4_address)"></span>
            <span ng-if="row.ipv6_address!=''&&row.ipv6_address!='::'">
                (  <span ng-bind-html="to_trusted(row.ipv6_address)"></span>  )
            </span>
        </td>
        <td ng-if="config.template=='network'">
            <synesis-tx-tp tx="row.tx_rate"></synesis-tx-tp>
        </td>
        <td ng-if="config.template=='network'">
            <synesis-rx-tp rx="row.rx_rate"></synesis-rx-tp>
        </td>
        <td ng-if="config.template=='network'">
            {{ row.est_tp }}
        </td>
        <td ng-if="config.template=='authenication'">
            <span ng-bind-html="to_trusted(row.username)"></span>
        </td>
        <td ng-if="config.template=='authenication'">
            <span ng-bind-html="to_trusted(row.auth_type)"></span>
        </td>
        <td ng-if="config.template=='wifi'">
            {{ row.channel }}
        </td>
        <td ng-if="config.template=='wifi'">
            <span ng-if="row.channel_width!=4">{{ row.channel_width }}</span>
            <span ng-if="row.channel_width==4">80MHz</span>
        </td>
        <td ng-if="config.template=='wifi'">
            <span ng-bind-html="to_trusted(row.mode)"></span>
        </td>
        <td ng-if="config.template=='wifi'">
            {{ row.rssi }}
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Session to display</td>
    </tr>
</table>