<img src="/media/images/green_led.png" width="20px" height="20px" data-toggle="tooltip"
     ng-if="controller.status =='Online'||controller.color =='green'" title="Status : Online" >
<img src="/media/images/red_led.png" width="20px" height="20px" data-toggle="tooltip"
     ng-if="controller.status =='Offline'||controller.color =='red'" title="Status : Offline" >
<img src="/media/images/orange_led.png" width="20px" height="20px" data-toggle="tooltip"
     ng-if="controller.status =='Unknown'||controller.color=='orange'" title="Status : Unknown">