<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
        <li class="breadcrumb-item"><a ui-sref="athletes">Athletes</a></li>
        <li class="breadcrumb-item">Athlete Profile</li>

    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="col-md-8">
                <br>
                <form action="" method="post" enctype="multipart/form-data"
                      class="form-horizontal ng-pristine ng-valid">

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="fn-input">First name</label>
                        <div class="col-md-9">
                            <input type="text" id="fn-input" name="fn-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="First name" ng-model="athlete.first_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="ln-input">Last name</label>
                        <div class="col-md-9">
                            <input type="text" id="ln-input" name="ln-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="Last name" ng-model="athlete.last_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="ht-input">Home town</label>
                        <div class="col-md-9">
                            <input type="text" id="ht-input" name="ht-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="Home town" ng-model="athlete.hometown">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="db-input">Date of Birth</label>
                        <div class="col-md-9">
                            <input type="date" id="db-input" name="ht-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="Date of birth" ng-model="athlete.dateofbirth">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="ch-input">Coach</label>
                        <div class="col-md-9">
                            <input type="text" id="ch-input" name="ch-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="Coach" ng-model="athlete.coach">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="ss-input">Supporting staff</label>
                        <div class="col-md-9">
                            <input type="text" id="ss-input" name="ss-input" class="form-control" ng-disabled="disable_edit"
                                   placeholder="Supporting staff" ng-model="athlete.staff">
                        </div>
                    </div>


                </form>

            </div>
            <div class="col-md-4">
                <br>
                <img src="/media/user_images/user.jpg" class="img-avatar" style="width:200px;height:200px;">
                <h3>{{ athlete.first_name }} {{ athlete.last_name }}</h3>
                <span>{{ athlete.sport }}</span>

                <br>
                <div class="fc-button-group">
                    <button class="btn-info" ng-show="disable_edit==true" ng-click="enable_edit()"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                    <button class="btn-info" ng-show="disable_edit==false" ng-click="save_changes()"><i class="fa fa-save"></i>&nbsp;Save</button>
                </div>
            </div>

        </div>
    </div>
</div>




