

 <div ng-controller="calender as vm" >

  <h2 class="text-center ">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm" >

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>

    </div>
    </div>
  </div>



  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
   view-title="vm.calendarTitle"
    view-date="vm.viewDate" ng-click="eventcreate()">
       <div ng-show="boxShow">
           <input type="text" placeholder="enter the event" style="border-color:black">
        </div>

  </mwl-calendar>

     <!--<script type="text/ng-template" id="popup.html">-->
    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Create you event</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--ceate you event<input type="text" ng-model="name" />-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
        <!--<button class="btn" ng-click="cancel()">Cancel</button>-->
    <!--</div>-->
<!--</script>-->



</div>

