<!--<body>-->
  <!--<h1></h1>-->
<!--<table>-->
    <!--<thead>-->
      <!--<tr>-->
        <!--<th>monday</th>-->
        <!--<th>tuesday</th>-->
        <!--<th>wedesday</th>-->
        <!--<th>thursday</th>-->
        <!--<th>friday</th>-->
        <!--<th>saturday</th>-->
        <!--<th>Sunday</th>-->
      <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--<tr ng-repeat="week in t.semanas">-->
       <!--<td ng-repeat="dia in week track by $index"-->
           <!--ng-class="{'today':(dia==t.hoy)}">-->
         <!--<span></span>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->
  <!--<style>-->
      <!--table{width:100%;-->
<!--float:right;}-->

<!--th, td{padding: 1rem;-->
  <!--text-align:center;-->

<!--}-->
<!--thead{background-color:#f1f1f1;}-->

<!--.today{font-weigth: 700; background-color: yellow;}-->

  <!--</style>-->
<!--</body>-->

 <div ng-controller="calender as vm" >

  <h2 class="text-center ">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>

    </div>
    </div>
  </div>



  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
   view-title="vm.calendarTitle"
    view-date="vm.viewDate">
  </mwl-calendar>


</div>

