<div class="card-header"
     ng-style="get_style()"
     ng-hide="config.tools==false && config.title==undefined">
    <h4 class="card-title" data-toggle="tooltip" title="{{ config.desc }}">{{ config.title }}</h4>
    <span style="float:right;" ng-hide="config.tools==false">
        Show
        <select ng-model="itemperpage" ng-change="firstPage()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
        </select>
        Records &nbsp;
        <input class="tab_search_box" type="text" synesis-enter-key="firstPage()" ng-model="filter" placeholder="Search...">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm" title="Search" ng-click="firstPage()">
                <i class="fa fa-search"></i>
            </button>

            <button type="button" class="btn btn-default btn-sm" title="Refresh" ng-click="default_page()" ng-hide="config.type=='wms_patch'">
                <i class="fa fa-refresh"></i>
            </button>




        </div>
    </span>

</div>

<div class="card-block" ng-include="get_template()" style="overflow-x:auto;" ng-style="get_opacity()">



</div>

<div class="card-header clearfix">
    <span ng-if="items!=0">
        Showing {{ start }} to {{ end }} of {{ items }}
    </span>
    <ul class="pagination pagination-sm no-margin pull-right ng-scope" ng-if="1 < pages.length">
        <li class="ng-scope" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(1)" ng-show="pagination.current != 1">«</a>
            <a href="" ng-show="pagination.current == 1">«</a>
        </li>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding" ng-show="pagination.current != 1">‹</a>
            <a href="" ng-show="pagination.current == 1">‹</a>
        </li>
        <li class="ng-scope" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
            <a class="ng-binding" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding" ng-show="pagination.current != pagination.last">›</a>
            <a href="" ng-show="pagination.current == pagination.last">›</a>
        </li>
        <li class="ng-scope" ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.last)" ng-show="pagination.current != pagination.last">»</a>
            <a href="" ng-show="pagination.current == pagination.last">»</a>
        </li>
    </ul>
</div>

<div class="overlay" ng-show="loaded==false">

    <i class="fa"><img src="/media/images/loading_icon.gif"></i>

</div>