<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" ng-style="button_style('DAY')"
                    ng-click="select_range('DAY')"
                    class="btn btn-default btn-sm">Today
            </button>
            <button type="button" ng-style="button_style('WEEK')"
                    ng-click="select_range('WEEK')"
                    class="btn btn-default btn-sm">Week
            </button>
            <button type="button" ng-style="button_style('MONTH')"
                    ng-click="select_range('MONTH')"
                    class="btn btn-default btn-sm">Month
            </button>
            <button type="button" ng-style="button_style('CUSTOM')"
                    class="btn btn-default btn-sm" id="daterange" title="Custom Date">
                <i class="fa fa-calendar"></i>
            </button>
            <button type="button"
                    ng-click="reload();select_range('DAY')"
                    class="btn btn-default btn-sm" title="Reload">
                <i class="fa fa-refresh"></i>
            </button>




        </div>



        <span class="pull-right">
            <b style="color: grey;" data-toggle="tooltip" title="{{ local_timezone }}">
                {{ start_date }} to {{ end_date }}
            </b>
        </span>
    </div>
</div>